.cadastro{
    width: 60%;
    margin: 0;
    margin: auto;
}
.centraliza{
  margin: 0;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.textoTituloCartao{
  margin: 0;
  margin: auto;
  width: 90%;
  padding: 10px;
}
.cartoesCorpo{
  margin: 10px;
}

.margin{
  margin: 10px;
}
