/* You can add global styles to this file, and also import other style files */

html{
  height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: auto;
    width: 40%;
    padding: 10px;
  }
.botaoCancelar{
  color: white;
  background-color: rgb(216, 57, 57);
}

